<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>Cadastro de Tarefas</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="tarefasApp">
			<div class="container">
				<h1>Controle suas tarefas</h1>
				<div class="formulario">
					<h2>Adicionar tarefa</h2>
					<form v-on:submit="addTarefa">
						<input
							v-model="novaTarefa.titulo"
							type="text"
							placeholder="Título da tarefa"
						/>
						<input class="botao" type="submit" value="Adicionar" />
					</form>
				</div>
			</div>
			<div class="container">
				<h2 class="titulo-tabela">Tarefas a fazer</h2>
				<table>
					<thead>
						<th>Pronta?</th>
						<th>Título</th>
						<th>Remover</th>
					</thead>
					<tbody>
						<tr v-for="tarefa in tarefas">
							<td class="col1">
								<input type="checkbox" v-model="tarefa.pronta" />
							</td>
							<td>
								<span v-bind:class="{ tarefaPronta: tarefa.pronta }"
									>{{ tarefa.titulo }}</span
								>
							</td>
							<td class="col3" v-on:click="removerTarefa(tarefa)">
								<button>Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script src="https://unpkg.com/vue@2"></script>
		<script src="js/script.js"></script>
	</body>
</html>
